@keyframes fadeInAnimation {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.fadeTransition {
  animation: fadeInAnimation 0.5s 1 0s ease-in-out;
}
